/********************************
*        GOOGLE FONTS          *
*******************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&display=swap');

/*******************************
*        GENERAL STYLES        *
*******************************/
:root {

  color-scheme: light dark;
  --text-color-white: rgba(255, 255, 255, 0.87);
  --background-color: rgb(34, 30, 30);
  --light-background-color: rgb(49, 45, 45);
  --interactive-color: #cf740b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #221e1e !important;
  overflow-x: hidden;
}

.container {
  /* overflow: hidden; */
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.container-100 {
  height: 100vh;
  padding: 50px 20px;
  display: flex;
  align-items: center;
  /* vertical center */
}

.btn {
  margin-top: 25px;
  border: 1px solid rgb(240, 230, 230) !important;
  width: 100%;
  padding: 15px 25px !important;
  color: white !important;
  font-size: 1.1rem !important;
  cursor: pointer;
  border-radius: 0 !important;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.btn:hover {
  border: 1px solid rgb(32, 32, 32) !important;
  color: rgb(32, 32, 32) !important;
  background-color: rgb(255, 255, 255) !important;
}

button {
  background-color: transparent;
}

.set-bg {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title {
  color: var(--interactive-color);
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 50px;
  text-transform: uppercase;
  margin: 0 auto 50px;
  z-index: 1000;
  text-shadow: 2px 7px 2px rgba(0, 0, 0, 0.7);
}

.sub-title {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;

}

.paragraph {
  color: var(--text-color-white);
  font-size: 1rem;
  margin-top: 25px;
}

a {
  text-decoration: none !important;
  color: var(--text-color-white) !important;
  transition: all ease-in 0.1s;
}

a:hover {
  opacity: 0.8;
}

.box-shadow {
  box-shadow: 10px 8px 16px rgba(245, 244, 244, 0.3);
}

.interactive-color {
  color: var(--interactive-color) !important;
}

.interactive-bg {
  background-color: var(--interactive-color) !important;
  color: var(--light-background-color) !important;
}

.section {
  margin-top: 100px !important;
  padding: 25px 10px;
  color: var(--text-color-white);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.translate-image:hover {
  transform: scale(1.1);
  /* moves right 20px and down 10px */
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) !important;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.Toastify__toast-theme--light {
  background: var(--light-background-color) !important;
  color: var(--text-color-white) !important;
}

/*******************************
*            NAVBAR           *
*******************************/
.navbar {
  background-color: transparent !important;
  position: fixed !important;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-top: 25px;
  transition: all ease-in .2s;
}

.navbar .bi-list {
  font-size: 3rem !important;
}

.navbar img {
  z-index: 100000;
}

.modal {
  z-index: -1;
}

.navbar .nav-item {
  color: #e6e1e1 !important;
}

.navbar-action {
  background-color: #ffffff !important;
  box-shadow: 1px 10px 10px -1px rgba(1, 1, 1, 0.5);
  margin-top: 0;
}

.navlink-action {
  color: #221e1e !important;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler {
  border: 0 !important;
}

/*******************************
*         HERO SECTION         *
*******************************/

#heroSection {
  background-image: radial-gradient(circle at bottom, rgba(255, 255, 255, 0.5), transparent 40%), url(images/large/hero-section-1.png);
  overflow: hidden !important;
}

#heroSection .container {
  z-index: 10;
}

.hero-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* This ensures it fills and crops nicely */
  z-index: 0;
}

.video-overlay {
  position: absolute;
  top: 0;
  right: 0;
  /* start at right */
  bottom: 0;
  left: 0;
  background: linear-gradient(to left,
      rgba(0, 0, 0, 0.8) 0%,
      /* solid black on right */
      rgba(0, 0, 0, 0) 100%
      /* transparent on left */
    );
  z-index: 1;
  pointer-events: none;
  /* so it doesn't block clicks */
}

#heroSection .row {
  width: 100%;
  color: aliceblue;
}

/*******************************
*          VIDEO CARD          *
*******************************/

#card-container {
  padding-top: 25px;
  margin-top: -1px !important;
}

.video-card {
  position: relative;
  display: block;
  width: 100%;
  max-width: 400px;
  margin-top: -150px;
  transition: all 3s ease-in-out !important;
  cursor: pointer;
  z-index: 1000 !important;
  /* Increased */
}

.video-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 75%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 20;
  pointer-events: none;
  transform: translateX(-50%);
}

.video-card:hover::before {
  box-shadow: 10px 8px 16px rgba(245, 244, 244, 0.3);
}

.video-card-video-details::before {
  background: rgba(128, 20, 20, 0);
}

/* .video-card-video-details:hover::before {
  box-shadow: none !important;
} */

.video-card-shorts-details::before {
  top: -80px;
  height: 119%;
}

.video-card.expanded::before {
  width: 100% !important;
}

.video-details {
  position: absolute;
  margin: 0 auto;
  width: 70%;
  bottom: 5px;
  left: 5px;
  right: 5px;
  color: white;
  font-size: 15px;
  padding: 5px 0;
  border-radius: 5px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  z-index: 20;
}

.video-details span {
  margin: 0 10px;
}

.card-list .col-lg-3 {
  margin-bottom: 200px;
  z-index: 2;
}

.video-details-top {
  top: 25px;
}

.container-title {
  background-color: rgb(255, 0, 0) !important;
  border: 5px solid #ffffff;
  padding: 8px 0px;
  position: absolute;
  width: 100%;
  bottom: 60px;

}

.video-card .sub-title {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.9px;
}

.shorts-img {
  margin-top: -80px !important;
}

/*******************************
*           BANNER            *
*******************************/

.banner {
  background-color: var(--light-background-color);
  padding: 50px 0;
  margin-top: -50px;
}

.banner .title {
  font-size: 2.5rem;
  padding: 25px;
}

/*******************************
*           CONTACT-FORM       *
*******************************/
.contact-form {
  color: var(--text-color-white);
  margin-top: 100px !important;
}

/*******************************
*          ABOUT SECTION      *
*******************************/
.about .title {
  margin-top: 100px;
}

.about .sub-title {
  font-family: "Kaushan Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
}

/*******************************
*           SHORTS PAGE        *
*******************************/
.Shorts-page {
  margin-top: -50px;
}

.Shorts-page .btn,
.Videos-page .btn {
  width: 230px !important;
  margin-top: 50px;
}

.buttons-box {
  margin-bottom: -120px;
}

/*******************************
*         SHORTS DETAILS       *
*******************************/

.shorts-details {
  margin-top: 00px !important;
}

.shorts-details .title,
.video-details .title {
  font-size: 2.5rem;

}

.Shorts-page .set-bg {
  height: 40vh;
  background-attachment: fixed !important;
}

/*******************************
*         VIDEO DETAILS       *
*******************************/
.video-detail-img-big {
  width: 120%;
  height: auto;
  transform: scale(1.35);
  cursor: pointer;
  margin-left: 50px !important;
  margin-top: -55px;
}

.video-container .paragraph {
  width: 98% !important;
}

.zoom-background {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40vh;
  margin-top: -100px;
}

.zoom-bg-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 110%;
  background-position: center -3500px;
  background-repeat: no-repeat;
  background-image: inherit;
  animation: zoomIn 20s ease-in-out infinite alternate;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 3;
  color: white;
}

/*******************************
*            PAGE 404          *
*******************************/

.page-404 {
  background-image: url(/images/large/blast-of-history-404-page.png);
}

.page-404 .content-box h1.title {
  font-size: 15rem;
}

/*******************************
*            FOOTER            *
*******************************/


footer {
  background-image:
    radial-gradient(circle, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%),
    url('/images/large/blast-of-history-banner-end-slide_1000PX.png');
  background-attachment: initial !important;
  height: auto !important;

}

.footer {
  padding: 50px;
  color: var(--text-color-white);
}

.footer i {
  font-size: 1rem !important;
}

.footer img {
  width: auto;
  height: auto;
}

/*******************************
*          PRELOADER           *
*******************************/

.preloader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(32, 30, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.preloder-box {
  position: relative;
  width: 150px;
  height: 150px;

  /* Use flexbox to center children */
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader-spinner {
  position: absolute;
  width: 200px;
  /* slightly bigger than image */
  height: 200px;
  border: 8px solid #ccc;
  border-top: 8px solid var(--interactive-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;

  /* Center with absolute positioning */
  top: -16%;
  left: -17%;
  transform: translate(-50%, -50%);
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*******************************
*   PRIVACY POLICY PAGE        *
*******************************/
.privacy-policy {
  margin-top: 150px;

}

.cookie-banner {
  z-index: 1000 !important;
}

/*******************************
*         COOKIES BOX          *
*******************************/
.cookie-banner {
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
  transition: all 2s ease-in-out;
}

.cookie-banner.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition-delay: 2s;
}

.cookie-banner {
  animation: slideUp 3s ease-in-out;
  animation-delay: 5s;
  /* Delay animation start by 5 seconds */
  animation-fill-mode: forwards;
  /* Keeps the final state after animation */
  display: none !important;
}