/*******************************
 *       APP RESPONSIVENESS    *
 *******************************/
@media only screen and (max-width: 1025px) {

  /* Zoom Animation */
  .zoom-bg-layer {
    background-image: initial !important;
  }

  /* Video Details */
  .video-container {
    margin-top: 50px !important;
  }
}

@media only screen and (max-width: 992px) {

  /* Navbar */
  .navbar .nav-link {
    color: #363535 !important;
  }

  .navbar {
    background-color: #ffffff !important;
    margin-top: 0;
  }

  /* Hero Section */
  #heroSection h3 {
    width: 100% !important;
  }

  /* Zoom Animation */
  .zoom-background {
    margin-top: 20px;
  }

  /* Shorts Video Details */
  .shorts-details .row {
    margin-top: 120px !important;
  }

  .shorts-details .video-box {
    margin-top: -50px !important;
  }

  .shorts-details .sub-title {
    text-align: center !important;
  }

  .row-reverse-992px {
    flex-direction: column !important;
  }

  .col-100 {
    width: 100% !important;
  }

  /* Video Details */
  .video-container .video-box {
    margin-top: -250px !important;
    margin-bottom: -250px;
  }

  .video-detail-img-big {
    width: 120%;
    transform: scale(1.6);
    margin-left: 0 !important;
  }

  .video-container .paragraph {
    width: 100% !important;
  }
}

@media only screen and (max-width: 825px) {

  /* Card List */
  .card-list {
    margin-top: 100px !important;
  }
}

@media only screen and (max-width: 768px) {

  /* Hero Section */
  #heroSection .title {
    font-size: 4rem;
  }

  /* Banner */
  .banner .title {
    padding: 25px !important;
    width: 100% !important;
    font-size: 2.8rem;
  }

  .banner img,
  .banner span {
    width: 90% !important;
  }

  /* Shorts and Video Page */
  .Shorts-page .btn,
  .Videos-page .btn {
    width: 230px !important;
    margin: 25px 3px -5px;
  }

  /* Page 404 */
  .page-404 .content-box h1.title {
    font-size: 8rem;
  }

  .page-404 .content-box h2.title {
    font-size: 3rem !important;
  }

  .page-404 .btn {
    width: 100% !important;
  }

  /* Footer */
  .footer {
    padding: 15px;
  }

  .footer h3 {
    margin-bottom: 15px !important;
    margin-top: 25px !important;
  }

  /* Contact Page */
  .form {
    margin-top: -50px !important;
  }

}

@media only screen and (max-width: 663px) {

  /* Video Detail */
  .video-detail-img-big {
    transform: scale(1.2);
  }

  /* Shorts Details */

  .shorts-details {
    margin-top: 50px !important;
  }
}

@media only screen and (max-width: 500px) {

  /* General Styles */
  .title {
    font-size: 2.5rem;
  }

  .show-mobile {
    display: block !important;
    margin-top: 60px !important;
    height: 92vh;
  }

  .show-desktop {
    display: none !important;
  }

  /* Video Card */
  .video-card img.w-75 {
    width: 100% !important;
    margin-top: 0px !important;
  }

  .video-card::before {
    width: 100%;
  }

  .container-title {
    position: absolute;
    width: 130%;
    left: 50%;
    transform: translateX(-50%);
  }

  .container-title .sub-title {
    font-size: 1.85rem;
  }

  /* Zoom Background */
  .zoom-background {
    height: 30vh !important;
  }

  /* Shorts and Video Page */
  .Shorts-page .title,
  .Videos-page .title {
    font-size: 2rem;
  }

  .shorts-details {
    padding: 35px 10px !important;
  }

  .shorts-details .row {
    margin-top: 90px !important;
  }

  .video-container .row {
    margin-top: 60px !important;
  }

  /* Video Detail */
  .video-detail-img-big {
    transform: scale(1);
  }

  .video-container .row {
    margin-top: 90px !important;
  }

  /* Banner */
  .banner .title {
    font-size: 1.3rem !important;
  }

  .cookie-banner.show {
    display:  none !important;
  }
}


@media only screen and (max-width: 450px) {

  /* Hero Section */
  #heroSection {
    padding: 0 !important;
    margin-top: 20px;
    background-image: none !important;
    
  }

  #heroSection .title {
    font-size: 2.1rem;
    margin-top: 10px;
  }

  /* Login Page */
  .login-page {
    margin-top: 100px;
  }

  /* Shorts/Video Destails*/
  .shorts-details h4.subtitle {
    font-size: 1.4rem !important;
  }

  /* Video Card */
  .container-title .sub-title {
    font-size: 1.rem;

  }

}

@media only screen and (max-width: 380px) {

  /* Genneral Styles*/
  .title {
    font-size: 1.8rem !important;
    width: 350px !important;
  }

  /* Hero Section */
  #heroSection  {
    margin-top: 70px !important;
  }

  #heroSection .btn {
    width: px;
  }

  #heroSection .gap-3 {
    margin-bottom: 40px;
    gap: 0.3rem !important;
  }

  #heroSection h3 {
        font-size: 1.3rem;
    }

  /* Video Card */
    .video-card:not(:first-child) {
    margin-top: -56px !important;
  }
}